<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>

    <script>
      function getComplementaryDarkColor(lightColor) {
        const rgb = lightColor
          .match(/[A-Za-z0-9]{2}/g)
          .map((component) => parseInt(component, 16));
        const darkColor = rgb.map((component) => Math.max(0, component - 50));
        const darkHexColor = `#${darkColor
          .map((component) => component.toString(16).padStart(2, "0"))
          .join("")}`;
        return darkHexColor;
      }

      const preview = (html) => {
        if (html && html.length > 0) {
          try {
            // set iframe src to b64 encoded html
            const b64 = btoa(html);
            document.querySelector("#preview").src = "/preview/" + b64;
          } catch (e) {
            console.error("Invalid base64 encoded html");
          }
        }
      };
      const fetchBlockStats = async () => {
        try {
          const response = await fetch("/v1/bsv/block/latest");
          const { height, hash } = await response.json();
          console.log({ height, hash });
          if (height && hash) {
            const color = stringToColor(hash);
            const color2 = stringToColor(height);
            const blinkingCursor = document.createElement("span");
            blinkingCursor.classList.add("animate-pulse");
            blinkingCursor.innerHTML = "|";

            document.querySelector(
              "#latest-block"
            ).innerHTML = `<span class="text-[${color2}]">block-${height} $</span> <span class="text-emerald-200">Your ordfs-server is up and running.</span><br />
<span class="text-[${color2}]">block-${height} $</span> <span class="bg-clip-text text-transparent bg-gradient-to-r to-[${color}] from-[${color2}]">Terminal colors derived from blockchain data</span><br />
<span class="text-[${color2}]">block-${height} $</span> Latest block hash <span class="bg-clip-text text-transparent bg-gradient-to-r to-[${color}] from-[${color2}]">${hash.slice(
              -10
            )}</span><br />

<span class="text-[${color2}]">block-${height} $</span><br />
<span class="text-[${color2}]">block-${height} $</span> Set a <span class="text-[${color2}]">TXT</span> record on your domain <br />
<span class="text-[${color2}]">block-${height} $</span> to point to an ordinal. <br />
<span class="text-[${color2}]">block-${height} $</span> TXT='ordfs=<span class="text-[${color2}]">inscriptionId</span>'<br />
<span class="text-[${color2}]">block-${height} $</span> hostname='<span class="text-[${color2}]">_ordfs.myhostname.com</span>'<br />
<span class="text-[${color2}]">block-${height} $</span> Where <span class="text-[${color2}]">inscriptionId</span> is <span class="text-[${color2}]">txid</span>_<span class="text-[${color2}]">vout</span> on BSV,<br /><span class="text-[${color2}]">block-${height} $</span> and {<span class="text-[${color2}]">txid</span>}i{<span class="text-[${color2}]">vin</span>} on BTC.<br />
<span class="text-[${color2}]">block-${height} $</span><br />
<span class="text-[${color2}]">block-${height} $</span> Set a <span class="text-[${color2}]">A</span> or <span class="text-[${color2}]">CNAME</span> record on your domain <br />
<span class="text-[${color2}]">block-${height} $</span> to point to your ordfs-server.<br />
<span class="text-[${color2}]">block-${height} $</span> A=<span class="text-[${color2}]">10.10.10.10</span> / CNAME=<span class="text-[${color2}]">subdomain.mydomain.com</span><br /><span class="text-[${color2}]">block-${height} $</span> `;

            const darkColor = getComplementaryDarkColor(color);
            const darkColor2 = getComplementaryDarkColor(color2);

            document.querySelector("#latest-block").appendChild(blinkingCursor);
            document.querySelector("#latest-block").classList.remove("hidden");
            document.querySelector("#latest-block").classList.add("block");

            document
              .querySelector("#latest-block")
              .classList.add(`text-[${color}]`);
            document
              .querySelector("#ordfs-title")
              .classList.add(`text-[${color2}]`);
            Array.from(document.querySelectorAll(".api-item")).map((item) => {
              item.classList.add(
                "p-1",
                "rounded",
                "bg-[#111]",
                "my-2",
                `text-[${color2}]`
              );
            });

            document
              .querySelector("#ordfs-subtitle")
              .classList.add(`text-[${color}]`);
            document
              .querySelector("#primary-button")
              .classList.add(`bg-[${darkColor2}]`);
            document
              .querySelector("#secondary-button")
              .classList.add(`bg-[${darkColor}]`);
          }
        } catch (error) {
          console.error(error);
        }
      };
      document.addEventListener("DOMContentLoaded", async () => {
        await fetchBlockStats();
      });

      function stringToColor(input) {
        input = input.toString();

        let hash = 0;
        for (let i = 0; i < input.length; i++) {
          hash = input.charCodeAt(i) + ((hash << 5) - hash);
        }

        const hue = hash % 360;
        const saturation = 75;
        const lightness = 75;

        const rgbColor = hslToRgb(hue, saturation, lightness);
        const color = rgbToHex(rgbColor);

        return color;
      }

      function hslToRgb(h, s, l) {
        h /= 360;
        s /= 100;
        l /= 100;

        const q = l < 0.5 ? l * (1 + s) : l + s - l * s;
        const p = 2 * l - q;

        const hueToRgb = (p, q, t) => {
          if (t < 0) t += 1;
          if (t > 1) t -= 1;
          if (t < 1 / 6) return p + (q - p) * 6 * t;
          if (t < 1 / 2) return q;
          if (t < 2 / 3) return p + (q - p) * (2 / 3 - t) * 6;
          return p;
        };

        const r = hueToRgb(p, q, h + 1 / 3);
        const g = hueToRgb(p, q, h);
        const b = hueToRgb(p, q, h - 1 / 3);

        return {
          r: Math.round(r * 255),
          g: Math.round(g * 255),
          b: Math.round(b * 255),
        };
      }

      function rgbToHex(rgb) {
        const toHex = (c) => c.toString(16).padStart(2, "0");
        const { r, g, b } = rgb;
        return `#${toHex(r)}${toHex(g)}${toHex(b)}`;
      }
    </script>
  </head>
  <body class="bg-black">
    <div class="bg-black text-white min-h-screen">
      <header class="relative"><%- include('../partials/header'); %></header>
    </div>
    <section class="relative transform-gpu overflow-hidden" aria-hidden="true">
      <%- include('../partials/try'); %>
    </section>
    <%- include('../partials/modals/try'); %>

    <footer class=""><%- include('../partials/footer'); %></footer>
  </body>
</html>
